:root {
  --text-main: black;
  --text-high: #DCA59D;
  --text-subt: darkslategray;
  --back-main: lightgrey;
  --back-high: #549869;
}

body {
  background-color: var(--back-main);
}

h1, h2 {
  color: var(--text-main);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: calc(36px + .5vw);
  color: var(--text-subt);
}

img {
  width: 80%;
  max-width: 512px;
  display: block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
